body {
    background-image: url(../images/qbkls.png);
}

body.single-page {
    overflow: hidden;
}

.submit-btn {
    margin-top: 30px;
}

form {
    margin-top: 30px;
}

.container-full {
    margin: 0px;
}

.form-group {
    max-width: 800px;
    margin-left: 60px;
}

.game-img {
    height: 100%;
    width: 100%
}

.img-box {
    height: 320px;
    width: 320px;
    margin: 20px 40px 10px 40px;
}

.navbar {
    width: 100%
}

.navbar-toggler {
    margin-right: 20px;
}

.project-description {
    margin: 0px 5px;
    color: ghostwhite;
}

.project-item {
    width: 400px;
    height: 460px;
    margin: 20px 0px 10px 60px;
    background-color: #343a40;
}

.project-title {
    color: ghostwhite;
}

#girl-img {
    height: 800px;
    position: relative;
    right: -115px;
    top: 100px;
}

#message {
    height: 200px;
}

#my-name {
    font-family: "Poppins", sans-serif !important;
    margin-left: 20px;
}

#bio-statement {
    margin-right: 20px;
    font-family: 'Poiret One', cursive;
    color: ghostwhite;
    font-size: 20px;
}

.quote {
    font-family: "Nova mono", monospace;
    margin: 40px 0px 0px 40px;
}

@media (max-width: 992px) {
    #girl-img {
        height: 650px;
        position: relative;
        top: 225px;
    }
}

@media (max-width: 768px) {
    #girl-img {
        position:relative;
        top: 220px;
    }

@media (max-width: 630px) {
    #girl-img {
        height: 550px;
        position: relative;
        top: 175px;
    }
}

@media (max-width: 576px) {
    #girl-img {
        display: none;
    }

    form {
        margin-right: 60px;
    }
}